# Ignore built files
*.dll
*.adb
*.exe

# Ignore deployment files
#[Mm]odel/[Dd]eployment
obj/
packages/
bin/
UpgradeLog.htm
TDG.CORE.QUESTIONNAIRE.UI*
TDG.CORE.QUESTIONNAIRE.UI
.vs/
# Force include portal SupportFiles
#!Model/Portal/*/SupportFiles/[Bb]in/
#!Model/Portal/PortalTemplates/*/SupportFiles/[Bb]in
/TDG.CORE.ETL.RESOURCES/CLIENT_FILES/13871213_TDG_WORKPLAN_2018-2019.XLS